<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.com.szw.lib.myframework">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application >
        <!--外链-->
        <activity android:name=".view.MyWebActivity"/>
        <!--图片展示，或选择删除-->
        <activity android:name=".utils.preview.PreviewActivity"/>
    </application>
</manifest>
